<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head"></head>

<body style="padding-top:4rem; display:block;">

	<!-- Navigation -->
	<nav th:replace="common/nav"></nav>

	<!-- Page Content -->
		<div class="row">
				<h1 style="color:#fff; margin: 0 auto; padding-top: 30px;">About us..</h1>
		</div>
				<div class="" style="display: flex; padding-left: 60px; padding-right: 60px; padding-bottom: 100px;">

				    <div class="col-lg-3 col-md-6 mb-4"><h1 style="color:white; text-align: center;"></h1>
				        <div class="card h-100" style="overflow: hidden;">
				                <img class="card-img-top" src="img/gh.png"
				                 style="height: auto; place-self: center;">                
				                    <div class="card-body">
				                    <p class="card-title"style="font-size:30px">강규현</p>
				                    <p class="card-text" style="text-align: center">
				                    	이번 프로젝트에서 배운 기술을<br>
				                    	바탕으로 다음에는<br>
				                    	멋진 심리검사 관련<br>
				                    	프로그램을 만들고 싶습니다.<br>
				                    	<b>강사님 나이스.</b>
				                   	</p>
				                    </div>
				                <div class="card-footer">
				                    <small class="text-muted">
				                        <a href="https://github.com/mindcompass" style="font-size:20px;" target="_blank">
				                        	<i class="fab fa-github" style="font-size: 25px; float: right; padding-top: 4px; color: black;"></i>
				                        </a>
				                    </small>
				            </div>
				        </div>
				    </div>

				    <div class="col-lg-3 col-md-6 mb-4"><h1 style="color:white; text-align: center;"></h1>
				        <div class="card h-100" style="overflow: hidden;">
				                <img class="card-img-top" src="img/jw.png" alt="" 
				                style="height: auto; place-self: center;">                
				                    <div class="card-body">
				                    <p class="card-title"style="font-size:30px">김진우</p>
				                    <p class="card-text" style="text-align: center">
				                    	<b>강사님 나이스.</b>
									</p>
				                    </div>
				                <div class="card-footer">
				                    <small class="text-muted">
				                        <a href="https://github.com/wlsdntyd" style="font-size:20px;" target="_blank">
				                        	<i class="fab fa-github" style="font-size: 25px; float: right; padding-top: 4px; color: black;"></i>
				                        </a>
				                    </small>
				            </div>
				        </div>
				    </div>

				    <div class="col-lg-3 col-md-6 mb-4"><h1 style="color:white; text-align: center;"></h1>
				        <div class="card h-100" style="overflow: hidden;">
				                <img class="card-img-top" src="img/ws.png" alt=""
				                 style="height: auto; place-self: center;">                
				                    <div class="card-body">
				                    <p class="card-title"style="font-size:30px">조원상</p>
				                    <p class="card-text" style="text-align: center">
				                    	개발자로서 자신의 의견을<br>
				                    	가시적으로 전달할 수 있는 것에<br>
				                    	필요성을 느꼈습니다.<br>
				                    	웹디자인과 서버에 대해<br>
				                    	충분히 공부를 했다고 생각했지만<br>
				                    	부족함을 느끼고<br>
				                    	더 공부해야 할 것을 알게 되었습니다.<br>
				                    	<b>강사님 나이스.</b>
									</p>
				                    </div>
				                <div class="card-footer">
				                    <small class="text-muted">
				                        <a href="https://github.com/ddusi" style="font-size:20px;" target="_blank">
				                        	<i class="fab fa-github" style="font-size: 25px; float: right; padding-top: 4px; color: black;"></i>
				                        </a>
				                    </small>
				            </div>
				        </div>
				    </div>

				    <div class="col-lg-3 col-md-6 mb-4"><h1 style="color:white; text-align: center;"></h1>
				        <div class="card h-100" style="overflow: hidden;">
				                <img class="card-img-top" src="img/yh.png" alt=""
				                 style="height: auto; place-self: center;">                
				                    <div class="card-body">
				                    <p class="card-title" style="font-size:30px">정용현with조카</p>
				                    <p class="card-text" style="text-align: center">
				                    	제대로 배워갑니다.
				                    	<br>
				                    	<b>강사님 나이스.</b>
				                    </p>
				                    </div>
				                <div class="card-footer">
				                    <small class="text-muted">
				                        <a href="https://github.com/yonghyunJay" style="font-size:20px;" target="_blank">
				                        	<i class="fab fa-github" style="font-size: 25px; float: right; padding-top: 4px; color: black;"></i>
				                        </a>
				                    </small>
				            </div>
				        </div>
				    </div>
				</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer th:replace="common/footer"></footer>

	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

</html>