<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head"></head>

<body style="padding-top:4rem; display:block;">

	<!-- Navigation -->
	<nav th:replace="common/nav"></nav>

	<!-- Page Content -->
		<div class="row">
				<h1 style="color:#fff; margin: 0 auto; padding-top: 30px;">Developers</h1>
		</div>
				<div class="" style="display: flex; padding-left: 60px; padding-right: 60px;">
				
				    <div class="col-lg-3 col-md-6 mb-4"><h1 style="color:white; text-align: center;">정용현</h1>
				        <div class="card h-100">
				                <img class="card-img-top" src="img/yonghyun.png"
				                 style="width: 260px; height: 260px; place-self: center;">                
				                    <div class="card-body">
				                    <p class="card-title"style="font-size:30px">팀장</p>
				                    <p class="card-text">자기소개</p>
				                    </div>
				                <div class="card-footer">
				                    <small class="text-muted">
				                        <a href="https://github.com/yonghyunJay" style="font-size:20px;">GitHub</a>
				                        <i class="fab fa-github" 
				                        style="font-size: 25px; float: right; padding-top: 4px; color: black;"></i></small>
				            </div>
				        </div>
				    </div>
				
				    <div class="col-lg-3 col-md-6 mb-4"><h1 style="color:white; text-align: center;">조원상</h1>
				        <div class="card h-100">
				                <img class="card-img-top" src="img/wonsang.png" alt="" 
				                style="width: 260px; height: 260px; place-self: center;">                
				                    <div class="card-body">
				                    <p class="card-title"style="font-size:30px">팀원</p>
				                    <p class="card-text">AI인공지능</p>
				                    </div>
				                <div class="card-footer">
				                    <small class="text-muted">
				                        <a href="https://github.com/ddusi"style="font-size:20px;">GitHub</a>
				                        <i class="fab fa-github" 
				                        style="font-size: 25px; float: right; padding-top: 4px; color: black;"></i></small>
				            </div>
				        </div>
				    </div>
				
				    <div class="col-lg-3 col-md-6 mb-4"><h1 style="color:white; text-align: center;">강규현</h1>
				        <div class="card h-100">
				                <img class="card-img-top" src="img/gyuhyun.png" alt=""
				                 style="width: 260px; height: 260px; place-self: center;">                
				                    <div class="card-body">
				                    <p class="card-title"style="font-size:30px">팀원</p>
				                    <p class="card-text">자기소개</p>
				                    </div>
				                <div class="card-footer">
				                    <small class="text-muted">
				                        <a href="https://github.com/mindcompass"style="font-size:20px;">GitHub</a>
				                        <i class="fab fa-github" 
				                        style="font-size: 25px; float: right; padding-top: 4px; color: black;"></i></small>
				            </div>
				        </div>
				    </div>
				
				    <div class="col-lg-3 col-md-6 mb-4"><h1 style="color:white; text-align: center;">김진우</h1>
				        <div class="card h-100">
				                <img class="card-img-top" src="img/jinwoo.png" alt=""
				                 style="width: 260px; height: 260px; place-self: center;">                
				                    <div class="card-body">
				                    <p class="card-title" style="font-size:30px">팀원</p>
				                    <p class="card-text">자기소개</p>
				                    </div>
				                <div class="card-footer">
				                    <small class="text-muted">
				                        <a href="https://github.com/wlsdntyd"style="font-size:20px;">GitHub</a>
				                        <i class="fab fa-github" 
				                        style="font-size: 25px; float: right; padding-top: 4px; color: black;"></i></small>
				            </div>
				        </div>
				    </div>
				</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer th:replace="common/footer"></footer>

	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	
</html>